# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/browser/node_modules
/browser/package-lock.json
/browser/.history
/server/node_modules
/server/package-lock.json
/server/.history
/node_modules
package-lock.json
.history
.vscode
.idea

# testing
/browser/coverage

# production
/browser/build

# misc
/browser/.DS_Store
/browser/.env.local
/browser/.env.development.local
/browser/.env.test.local
/browser/.env.production.local

/browser/npm-debug.log*
/browser/yarn-debug.log*
//browser/yarn-error.log*
